
@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../fonts/big_noodle_titling_oblique.ttf') format('ttf'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff2') format('woff2'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height:0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #F8931F; /* Black fallback color */
    /* background-color: rgba(0,0,0, 0.9); Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    /* margin-top: 30px;  30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    font-weight: 600;
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: rgb(51, 51, 51);
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
 
  @media (min-width: 769px) {
      .hamburger {
          display: none;
      }
  }

.overlay .nav-item{
  margin: 1rem 0rem;
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.5s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.5s ease-in-out;
  }
  /* #nav-icon4 {
    width: 28px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
    top: 9px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    background: #00909e;
}
#nav-icon4 span:nth-child(3) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
    left: 8px;
} */

p {
    font-style: italic;
}

/* home/hero section */

.device-galaxy-s8 {
    border-radius: 55px;
}

.home {
    overflow: hidden;
}

.home .device-galaxy-s8 {
    transform: scale(0.8);
    margin-top: -2rem;
    transition: 1s;
    z-index: 0;
}
.hero-text {
    text-align: center;
}
.hero-title {
    font-weight: 700;
    font-size: 2rem;
    padding: 0rem 2rem;
    margin-bottom: 2.5rem;
    font-style: italic;
}
.hero-paragraph {
    color: #00909e;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1.25rem;
}
.hero-subparagraph {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
.main-button .btn-lg {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;
    transition: 750ms;
    font-weight: 600;
}
@media (min-width: 768px) {
    .home .device-galaxy-s8 {
        transform: scale(1);
        margin-top: 5rem;
    }
    .hero-title{
        padding: 0rem;
        font-size: 3rem;
    }
}
@media (min-width: 992px) {
    .hero-text {
        text-align: left;
        margin-top: 20%;
    }
}
@media (min-width: 1200px) {
    .hero-text .btn:hover,
    .home .device-galaxy-s8:hover {
        box-shadow: 20px 20px 35px -20px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 20px 20px 35px -20px rgba(0, 0, 0, 0.5);
    }
    .hero-text .main-button {
        width: max-content;
    }
    .hero-text {
        text-align: left;
        margin-top: 12.5%;
    }
    .hero-title {
        font-size: 4rem;
    }
    .main-button .btn-lg{
        padding: 0.75rem 3rem;
    }
}
@media (min-width: 1400px) {
    .home .device-galaxy-s8 {
        margin-top: 3rem;
    }
}
@media (min-width: 1700px) {
    .hero-text {
        margin-left: auto;
    }
    .hero-title{
        margin-top: 15%;
    }
}

/* about section */

/* .about{

} */

.title{
    font-family: BigNoodleTitling;
    font-style: italic;
    font-size: 5rem;
    color: #F8931F;
    text-align: center;
}
/* 
.about .title{
    margin-top: 12.5vh; 
} */

.about p{
    font-size: 1.35rem;
    padding: 1rem;
    text-align: center;
}

.bg-text{
    position: sticky;
    top: 5vh;
    -webkit-text-stroke: 5px #1C1C1C;
    z-index: -1;
    font-family: BigNoodleTitling;
    font-style: italic;
    font-size: 13rem ;
    color: transparent;
    /* background-attachment: fixed; */
    text-align: right;
    line-height: normal;
    display: none;
}

@media (min-width: 768px){
    .title{
        font-size: 8rem;
    }
    .about p{
        font-size: 2.5rem;
    }
}

@media (min-width: 992px){
    .title{
        text-align: left;
        font-size: 10rem;
    }
    .title{
        margin-top: 5vh;
        margin-bottom: 0;
    }
    .about p{
        text-align: left;
        font-size: 2rem;
        padding:0 20vw 0 0;
    }
    .bg-text{
        display: block;
        padding: 0 5rem;
    }
    .home{
        overflow: visible;
    }
}

@media (min-width: 1200px){
    .bg-text{
        font-size: 15rem;
        top: 0vh;
    }
    .title{
        margin-top: 10vh;
    }
}

@media (min-width: 1400px){
    .bg-text{
        padding: 0rem 10rem;
        top: 2.5vh;
    }
}

@media (min-width: 1700px) {
    .bg-text{
        font-size: 17.5rem;
        top: 7.5vh;
        padding: 0 20rem;
    }
    .title{
        margin-top: 15vh;
    }
}

/* features section */
.features{
    overflow: visible;
    min-height: 100vh;
}
.features p{
    font-size: 1.5rem;
    text-align: center;
}

.features .title{
    margin-top: 5rem;
}

.features .device-galaxy-s8{
    display: none;
    z-index: 0;
    max-width: initial !important;
    position: sticky;
    top: -5vh;
}

.features img {
    position: absolute;
    /* left: 50%;
    top: 50%; */
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 768px){
    .features .device-galaxy-s8{
        display: block;
        transform: scale(0.75) !important;
        margin-top: -10rem;
    }
    .features .title{
        margin-top: -5rem;
    }
}

@media (min-width: 992px){
    .features p{
        text-align: left;
        font-size: 2rem;
    }
    .features .title{
        margin-top: 30vh;
        height: 75vh;
    }
    .features .device-galaxy-s8{
        margin-top: -5rem;
    }
    .right-content {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .left-content {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

}

@media (min-width: 1200px){
    .features .device-galaxy-s8{
        top: 0vh;
    }
}

@media (min-width: 1400px){
    .features .device-galaxy-s8{
        transform: scale(0.9) !important;
        margin-top: -3rem;
    }
}

@media (min-width: 1700px){
    .features .device-galaxy-s8{
        margin-top: 4rem;
        top: 12.5vh;
    }
    .features .title{
        margin-top: 20vh;
    }
}

/* testimonials section*/

.testimonials p{
    text-align: center;
}

.quote{
    font-size: 1.25rem;
    /* margin-top: 4.5rem; */
    margin-bottom: 2rem;
    font-weight: 500;
}

.use{
    font-size: 0.75rem;
    color: #F8931F;
}

.testimonials img{
    width: 300px;
}

.testimonials .container .col-lg-6{
    text-align: center;
}

@media (min-width: 768px){
    .quote{
        font-size: 2rem;
        /* margin-top: 2.5rem; */
    }
    .who{
        font-size: 1.5rem;
    }
    .use{
        font-size: 1rem;
    }
    .testimonials img{
        width: 600px;
    }
}

@media (min-width: 992px){
    .testimonials p{
        text-align: left;
    }
    .quote{
        font-size: 1.5rem;
        /* margin-top: 25vh; */
        width: 120%;
    }
    .who{
        font-size: 1rem;
    }
    .use{
        font-size: 0.75rem;
    }
    .testimonials img{
        width: 105%;
        /* margin-top: 20vh; */
        transform: translateY(-5rem);
    }
}

@media (min-width: 1200px){
    /* .testimonials img{
         margin-top: 15vh;
    } */
    .quote{
        font-size: 1.75rem;
        /* margin-top: 22.5vh; */
    }
    .who{
        font-size: 1.25rem;
        font-weight: 400;
    }
}

@media (min-width: 1400px){

}

@media (min-width: 1700px){
    .quote{
        /* margin-top: 27.5vh; */
        font-size: 2rem;
        width: 130%;
    }
    .who{
        font-size: 1.35rem;
    }
    .use{
        font-size: 1rem;
    }
    .testimonials img{
        /* margin-top: 20vh; */
        width: 120%;
    }
}

/* ywait section */
/* .ywait h1{
    font-family: BigNoodleTitling;
    font-style: italic;
    font-size: 5rem;
    text-align: center;
    margin-top: 40vh;
} */

.ywait .title{
    color: white;
}

@media (min-width: 768px){
    .ywait .title{
        font-size: 8rem;
    }
}

@media (min-width: 992px){
    .ywait .title{
        font-size: 5rem;
    }
}

@media (min-width: 1200px){

}

@media (min-width: 1400px){

}

@media (min-width: 1700px){

}

.tagline .title{
    font-size: 4rem;
}

@media (min-width: 768px){
    .tagline .title{
        font-size: 8rem;
    }
}

@media (min-width: 992px){
    .tagline .title{
        text-align: center;
        line-height: 1;
    }
    .tagline .main-button{
        margin-top: 2rem;
    }
}

@media (min-width: 1200px){
    .tagline .title{
        font-size: 10rem;
    }
}

/* .how {
    margin-top: 2rem;
}
.how .bg-text {
    color: #dae1e7;
    text-align: center;
    font-size: 11.5rem;
    margin-left: -8%;
}
.how .row {
    margin-top: -6rem;
}

.how .how-title {
    font-weight: 700;
    text-align: center;
    margin-top: -10rem;
    font-size: 3rem;
}
.how .step {
    display: flex;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-left: 1.25rem;
    margin-top: 2rem;
    border-radius: 1rem;
    transition: 750ms;
    cursor: pointer;
}
.how .step.selected,
.how .step:hover {
    background-color: #dae1e7;
    box-shadow: 0 20px 35px -20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 20px 35px -20px rgba(0, 0, 0, 0.5);
}
.how .step i {
    font-size: 4rem;
    margin-right: 15px;
}
.how .step h5 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
}
.how .step h6 {
    font-size: 0.45rem;
    margin-bottom: 0;
    color: #4f4f4f;
}
.how .step p {
    font-size: 0.65rem;
    color: #00909e;
    margin-bottom: 0;
    margin-top: 2px;
}
.how .aftercan {
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    font-size: 4rem;
}
.device-content-behind {
    position: relative;
    border-radius: 34px;
    height: 740px;
    width: 360px;
    z-index: -1;
    transform: scale(0.9);
    opacity: 0.75 !important;
}
@media (min-width: 576px) {
    .how .step {
        width: 350px;
    }
}
@media (min-width: 992px) {
    .how .how-title {
        margin-top: -4rem;
    }
    .how .aftercan {
        font-size: 3rem;
    }
    .how .bg-text {
        text-align: left;
        margin-left: 0;
    }
    .how {
        height: 100vh;
    }
}
@media (min-width: 1200px) {
    .how .bg-text {
        margin-left: 5%;
    }
}
@media (min-width: 1400px) {
    .how .container {
        margin-top: 2rem;
    }
    .how .device-galaxy-s8 {
        transform: scale(0.6);
        margin-top: -10rem;
    }
    .how .how-title {
        margin-top: -3rem;
    }
}
@media (min-width: 1700px) {
    .how .container {
        margin-top: 4rem;
    }
    .how .how-title {
        margin-top: 0;
        font-size: 4rem;
    }
    .how .bg-text {
        margin-left: 10%;
    }
    .how .device-galaxy-s8 {
        transform: scale(0.65);
        margin-top: -8rem;
    }
    .how .step h6 {
        font-size: 0.5rem;
    }
    .how .step h5 {
        font-size: 1.5rem;
    }
} */

/* testimonials */

/* 
.testimonials {
    background-color: #00909e; 
    text-align: center;
    margin-top: 2rem;
}
.testimonials p {
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 5px;
}
.testimonials .author {
    margin-bottom: 2rem;
    color: #dae1e7;
}
.testimonials h2 {
    color: #fff;
    margin: 2rem 0;
    font-family: montserrat, sans-serif;
    font-weight: 600;
}
.testimonials .carousel-inner {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
}
.testimonials .fa-circle {
    opacity: 0;
}
.carousel-control-next:focus .fa-circle,
.carousel-control-prev:focus .fa-circle {
    opacity: 1;
}
.carousel-control-prev:focus .fa-angle-left,
.testimonials .carousel-control-next:focus .fa-angle-right {
    color: #00909e;
}
.testimonials .fa-x {
    font-size: 1.5rem;
}
@media (min-width: 576px) {
    .testimonials .carousel-inner {
        width: 500px;
        height: 200px;
    }
}
@media (min-width: 768px) {
    .testimonials .carousel-inner {
        width: 600px;
        height: 175px;
    }
}
@media (min-width: 992px) {
    .testimonials .carousel-control-next,
    .testimonials .carousel-control-prev {
        position: absolute;
        top: 20%;
    }
    .testimonials {
        margin-top: 0;
    }
}
@media (min-width: 1200px) {
    .testimonials .carousel-control-prev {
        left: 100px;
    }
    .testimonials .carousel-control-next {
        right: 100px;
    }
    .testimonials .carousel-inner {
        margin-bottom: 2rem;
    }
    .testimonials h2 {
        margin: 3rem 0;
    }
}
@media (min-width: 1700px) {
    .testimonials .carousel-inner {
        width: 800px;
    }
    .testimonials .carousel-control-prev {
        left: 200px;
    }
    .testimonials .carousel-control-next {
        right: 200px;
    }
} */

.youtube .container {
    min-height: 50vh;
    display: flex;
}
.youtube .container iframe {
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    height: 200px;
}
@media (min-width: 768px) {
    .youtube .container iframe {
        height: 400px;
        width: 700px;
    }
}
@media (min-width: 992px) {
    .youtube .container {
        min-height: 100vh;
    }
    .youtube .container iframe {
        height: 450px;
        width: 800px;
    }
}
@media (min-width: 1700px) {
    .youtube .container iframe {
        height: 550px;
        width: 975px;
    }
}
.why {
    text-align: center;
}
.why .container {
    min-height: 100vh !important;
}
.why .bg-text {
    color: #dae1e7;
    font-size: 11.5rem;
    margin-left: -10%;
    position: relative;
    z-index: -1;
    opacity: 0.75 !important;
}
.why .why-title {
    margin-top: -7rem;
    font-size: 4rem;
    font-weight: 700;
    padding: 0 2rem;
}
.why ol {
    margin-top: 1rem;
}
.why .hero-paragraph {
    margin-bottom: 2rem;
    padding: 0 2rem;
    margin-top: 0;
    display: none;
}
.why .mobile-para {
    display: block;
}
.why .carousel {
    margin-top: 1rem;
}
.why .col-lg-6 {
    display: flex;
}
.why .container iframe {
    border-radius: 0.5rem;
    display: block;
    width: 325px;
    height: 173px;
}
.why .collaboration {
    width: max-content;
    margin: 2rem 0;
}
.why .nest-link {
    display: block;
    transition: 750ms;
}
.why .nest {
    width: 200px;
}
.why .collaboration p {
    margin-bottom: 5px;
    font-size: 1.25rem;
    text-align: center;
}
.why .volunteer {
    font-size: 1.25rem;
    padding: 0 1.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #666;
}
.why .volunteer-link {
    color: #00909e;
}
.why .volunteer-link:hover {
    color: #00abbb;
    text-decoration: none;
}
@media (min-width: 768px) {
    .why .container iframe {
        height: 375px;
        width: 700px;
    }
}
@media (min-width: 992px) {
    .why {
        text-align: left;
    }
    .why .hero-paragraph {
        display: flex;
        width: 400px;
    }
    .why .mobile-para {
        display: none;
    }
    .why .container .row {
        margin: 4rem 0;
    }
    .why .container .row .col-lg-4 {
        display: flex;
    }
    .why .container .row .col-lg-4 .collaboration {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    .why .container iframe {
        height: 320px;
        width: 600px;
    }
}
@media (min-width: 1200px) {
    .why .container .row {
        margin: 6rem 4rem 6rem 0;
    }
    .why .nest-link:hover {
        transform: scale(1.1);
    }
    .why .bg-text {
        opacity: 0.5;
    }
    .container .row .col-lg-4 .collaboration {
        margin-left: 5rem !important;
    }
    .why .nest {
        width: 300px;
    }
}
@media (min-width: 1400px) {
    .why .container .row {
        margin: 8rem 4rem 8rem 0;
    }
}
@media (min-width: 1700px) {
    .why .container iframe {
        width: 900px;
        height: 480px;
    }
    .why .container .row {
        margin: 10rem 6rem 10rem 0;
    }
    .container .row .col-lg-4 .collaboration {
        margin-left: 10rem !important;
    }
}
footer {
    background: #F8931F;
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    overflow: hidden;
}
/* footer .row {
    margin-bottom: 1rem;
} */

footer p {
    color: black;
    font-size: 0.675rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

.credits {
    margin-top: 2rem;
}
footer .container h2 {
    color: black;
    font-weight: 400;
    font-family: 'BigNoodleTitling';
    font-size: 3rem;
}
footer .container h1:hover {
    color: black;
}
footer .container .row a {
    color: black;
}
footer .container .row a:hover {
    color:  rgb(32, 32, 32);
}
footer .nav {
    display: block;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}
footer img {
    width: 300px;
}

footer .nav .nav-item {
    margin: 1rem 0;
}

footer .nav-item .nav-link {
    font-size: 1.25rem; 
    font-weight: 600;
}

footer .container .col-lg-6 .nav-icons {
    width: max-content;
    font-size: 2rem;
    text-align: center;
    /* display: block;
    margin-right: 0;
    padding: 0; */
    font-size: 3rem;
    margin-top: 0;
}

footer .nav-icons .nav-link{
    padding-top: 0;
    padding-bottom: 0;
}

footer .footer-icons {
    width: max-content;
}

@media (max-width: 576px) {
    footer {
        min-height: 100vh;
    }
}

@media (max-width: 992px) {
    footer .nav-link {
        padding-left: 1rem !important;
    }
    /* footer .nav-icons .nav-link {
        padding: 0 !important;
    } */
}
@media (min-width: 992px) {
    footer {
        text-align: left;
    }
    footer h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
    footer .nav {
        display: flex;
        margin-right: 0;
        margin-left: 0;
    }
    footer .container h2 {
        margin-top: 0;
    }
    footer .container .nav .nav-link {
        padding-top: 0;
    }
    /* footer .nav .nav-item {
        font-size: 0.75rem;
    } */
    footer img {
        width: 400px;
    }
    footer .nav-item .nav-link {
        font-size: 0.75rem;
    }
    footer .creators {
        text-align: right;
        padding-right: 2rem;
    }
    footer .copyright {
        text-align: left;
        padding-left: 2rem;
    }
}

@media (min-width :1200px) {
    footer img {
        width: 500px;
    }
    footer .container h2 {
        font-size: 4rem;
    }
    footer .nav-icons .nav-link {
        font-size: 4rem;
        margin-top: -1rem;
    }
}
/* 
@media (min-width: 1700px) {
    footer img {
        margin-left: 10rem;
    }
    footer .nav {
        margin-left: 10rem;
    }
} */
.content-container {
    display: flex;
}
    /* .content-container > * {
    flex-basis: 100%;
} */

@media screen and (max-width: 800px) {
    .left-content {
        display: none;
    }
    .right-content {
        padding-left: 15px;
    }
}
